body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 40px;
}

h2 {
    text-align: center;
    color: #006633;
}

table {
    width: 80%;
    margin: auto;
    border-collapse: collapse;
    background-color: white;
}

th {
    background-color: #006633;
    color: white;
    padding: 15px;
    text-align: left;
}

td {
    padding: 12px 15px;
    border: 1px solid #ddd;
}


tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #d9f2e6;
}